table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px double black;
    width: 500px;
}
td {
    border: 2px double #000
}
.midle {
    background-color: rgb(76, 138, 225);
}
* {
    text-align-last: center;
    padding: 10px;
}

.midle1 { 
    background-color: rgb(255, 247, 0);
}